{% extends 'base.html' %}
{% load static %}

{% block title %} Our Partners {% endblock %}

{% block content %}
<section id="our-partners" class="our-partners section py-5" style="background-color: lightblue;">
    <div class="container">
        <div class="section-title text-center mb-4" data-aos="fade-up">
            <h2>Our Partners</h2>
        </div>

        <div class="content" data-aos="fade-up" data-aos-delay="100">
            <h3 class="mt-4">We Are In Collaboration With</h3>
            <ul>
                <li>Kenya National Commission on Human Rights</li>
                <li>Law Society of Kenya</li>
                <li>Legal Resources Foundation</li>
                <li>Kituo Cha Sheria</li>
                <li>Federation of Women Lawyers (FIDA Kenya)</li>
                <li>International Justice Mission (IJM) Kenya</li>
                <li>The National Legal Aid and Awareness Programme (NALEAP)</li>
                <li>Amnesty International Kenya</li>
            </ul>

            <h3 class="mt-4">Partner With Us</h3>
            <p>
                Are you an organization or law firm passionate about legal empowerment? Join us in our mission to make legal services universally accessible. By collaborating with us, you contribute to building a more informed and legally aware society.
            </p>
        </div>
    </div>
</section>
{% endblock %}
